
.info{
    padding-top: 3%;
}
.card-div{
    display:flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding:3%;
}
.all-info{
    display:flex;
}
h2{
    color:white;
}
h4{
    color:white;
}
