.btn{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
.logoImg{
    height:100px;
    width:100px;
    border-radius: 50px;
    margin-left: 20px;
    
}
.auth{
    padding: 1px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: steelblue;
    align-items: center;
}
h2 {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.links{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  
}


.slink:hover{
    margin-top:-5px;
}
.slink:link{
    text-decoration: none;
    color:white;
}
.slink:visited{
    text-decoration: none;
    color:white;
}
.actlink:hover{
    margin-top:-5px;
}
.actlink:link{
    text-decoration: none;
    color:white;
}
.actlink:visited{
    text-decoration: none;
    color:white;
}
.exlink:hover{
    margin-top:-5px;
}
.exlink:link{
    text-decoration: none;
    color:white;
}
.exlink:visited{
    text-decoration: none;
    color:white;
}
.btnLog{
    font-weight: bold;
    color:white;
    height:30px;
    width:70px;
    padding-right:10px;                
}
.btnLog:hover{
    margin-top: -5px;
}
.btnSign{
    font-weight: bold;
    color:white;
    height:30px;
    width: fit-content
}
.btnSign:hover{
    margin-top:-5px;
}
.btnOut{
    color:white;
    font-weight: bold;
    height:30px;
    width: 70px
}
.btnOut:hover{
    margin-top:-5px;
}